# 환경 변수 (절대 커밋 금지)
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# 가상환경
venv/
.venv/
env/

# Django
*.log
local_settings.py
staticfiles/
mediafiles/
test_db.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
